.box{
  width: 220px;
  height: 155px;
  background: url("../images/生小孩.jpg");
  background-size: cover;
}

.box2{
  width: 220px;
  height: 155px;
  background: url("../images2/生小孩.jpg");
  background-size: cover;
}